.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 2px 1px 2px #eee;
}
.nav .navoptions a:hover {
  color: aqua;
}
.nav .navoptions {
  display: flex;
}
.nav .navoptions a {
  padding: 40px;
  color: #666;
  font-size: large;
  hover-color: red;
  text-decoration: none;
}
.centerimage {
  display: flex;
  justify-content: center;
}
button {
  background-color: #387ed1;
  color: azure;
  padding: 10px;
  font-size: 1.2em;
}
button:hover {
  color: #eee;
  background-color: black;
}
